/*Global*/
body {
  font-family: "Poppins", sans-serif;
}
/*Showcase*/
.showcase {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffe574;
  border-style: none;
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
  box-sizing: border-box;
}
.showcase h1 {
  font-weight: bold;
}
.showcase input {
  margin: 10px;
  padding: 5px;
}
.showcase p {
  font-size: 24px;
}

/*Pharmacy*/
hr {
  margin-bottom: 20px;
}
.location {
  position: relative;
  top: 70px;
  left: 40%;
}
.logo-image {
  padding: 30px;
  width: 100px;
}
.pharmacy-logos {
  display: flex;
}

.pharmacy-wrapper {
  padding: 20px 10%;
  position: relative;
}
.pharmacy-wrapper h3 {
  font-weight: bold;
  padding-bottom: 20px;
}

/*Carousel*/


/*Medication boxes*/
.current-price {
  font-size: 28px;
  font-weight: bold;
}
.fade-text {
  color: #d0cfda;
}
.full-price {
  text-decoration: line-through;
}

.med-box {
  margin: 20px;
  padding: 10px 20px;
  border: 1px;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.carousel-wrapper {
  display: flex;
}

.percent-off {
  font-weight: bold;
}

/*How it works*/
how-it-works h2 {
  margin-top: 30px;
}
.card {
  padding: 40px;
  margin: 20px;
  border: none;
}

/*Did you know*/
.did-you-know {
  text-align: center;
  display: flex;
  background-color: rgb(38, 54, 65);
  color: #fff;
  position: relative;
  padding: 25px 0;
}
.DYK-header {
  background-color: rgb(38, 54, 65);
  color: #fff;
  margin-bottom: 0;
  padding-top: 10px;
}
.DYK-square {
  padding: 20px;
}
.DYK-square h1 {
  color: #fddb00;
}
.vr {
  background-color: #fff;
  width: 1px;
  height: 85px;
  position: relative;
  top: 30px;
}

/*Health*/
.health-btn {
  text-align: center;
}
.health-hero h2 {
  font-weight: bold;
}
.health-hero {
  margin: 30px 40px;
}

/*Footer*/
footer {
  margin: 40px 30px;
}
footer p{
  text-align: center;
}

.parent a{
  text-decoration: none;
  color:#000 ;
}
.parent ul{
  list-style: none;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 1 / 3 / 2;
}
.div3 {
  grid-area: 1 / 2 / 2 / 3;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
}
.div5 {
  grid-area: 1 / 3 / 3 / 4;
}

/*Media Queries*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .DYK-square{
    max-width: 100%;
    margin: auto;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .DYK-square{
    max-width: 100%;
    margin: auto;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
